*.dart linguist-detectable=true
windows/* linguist-detectable=false
web/* linguist-detectable=false
linux/* linguist-detectable=false
macos/* linguist-detectable=false
android/* linguist-detectable=false
ios/* linguist-detectable=false
